project: 
  type: website
  
website: 
  title: "the data diary"
  site-url: "https://www.thedatadiary.net"
  favicon: /static/img/icon.png
  repo-url: https://github.com/markjrieke/thedatadiary.net
  repo-actions: [source, issue]
  twitter-card: true
  
  navbar: 
    logo: /static/img/icon.png
    background: light
    foreground: dark
    right: 
      - text: "About"
        file: about/about.qmd
      - text: "Projects"
        file: projects/projects.qmd
      - text: "Consulting"
        file: consulting/consulting.qmd
  
  page-footer:
    left: |
      {{< fa regular copyright >}} Mark Rieke, 2025<br>
      All content licensed under [MIT License](https://github.com/markjrieke/thedatadiary.net/blob/main/LICENSE)<br>
      Made with {{< fa brands r-project >}} and [Quarto](https://quarto.org)
    right: 
      - icon: github
        aria-label: github
        href: https://github.com/markjrieke
      - icon: bluesky
        aria-label: bluesky
        href: https://bsky.app/profile/markjrieke.bsky.social
      - icon: linkedin
        aria-label: linkedin
        href: https://www.linkedin.com/in/markjrieke/
      
format: 
  html: 
    theme: dinty.scss
    css: styles.css
    highlight-style: kate
    code-block-bg: true
    code-block-border-left: "#838cf1"
    code-fold: true
    code-tools: false
    fig-width: 9
    fig-height: 6
    fig-align: center
    
execute:
  freeze: auto