// to revert back to base minty theme:
// - delete this whole file
// - remove any themin from styles.css
// - set theme: minty in _quarto.yml

/*-- scss:defaults --*/

// use minty as the base
$theme: "minty" !default;

// import google fonts
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

// set fonts
$font-family-headings: "Playfair Display";
$font-family-mono: "IBM Plex Mono";
$font-family-projects: "IBM Plex Sans";
$font-bs-default: 
  system-ui, 
  -apple-system, 
  "Segoe UI", 
  Roboto,
  "Helvetica Neue",
  "Noto Sans",
  "Liberation Sans",
  Arial,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  "Noto Color Emoji";
  
// color settings old

// $headings-color-custom: #5A9282;
// $link-color: #78c2ad;
//$link-hover: #609b8a;
$link-visit: #f3969a;
$gray-700: #5a5a5a;
$gray-projects: #363a3c;


// color settings new
//$headings-color-custom: #3f51b5;
$headings-color-custom: #616ed3;
$link-color: #838cf1;
$link-hover: #a2a9f4;

/*-- scss:rules --*/

body {
  font-family: $font-family-projects;
  color: $gray-projects;
}

// Headings ---
h1, h2, h3, h4, h5, h6, .quarto-title-banner h1, .card-title {
  font-family: $font-family-headings;
  color: $headings-color-custom;
}

// Navbars ---
.navbar-title {
  font-family: $font-family-headings;
  font-weight: 600;
  color: $gray-700;
}

.nav-item {
  font-family: $font-family-projects;
  color: $gray-700;
}

// funky links in body text only
a:not(.quarto-grid-link, .dropdown-item, .nav-link, .toc-action, .footnote-ref, .navbar-brand, .anchorjs-link) {
  color: $link-color;
  font-weight: 600;
  text-decoration: none;
  background: linear-gradient($link-hover, $link-hover) left bottom no-repeat;
  background-size: 0% 2px;
  transition: all 0.2s;
}

a:not(.quarto-grid-link, .dropdown-item, .nav-link, .toc-action, .footnote-ref, .navbar-brand, .anchorjs-link):hover {
  color: $link-hover;
  background-size: 100% 2px;
}

// set grid weight to regular text
.quarto-grid-item {
  font-weight: 400;
}

// Keep bs fonts in certain locations ---
.listing-categories, .card-attribution, .quarto-category, .quarto-title-meta-heading {
  font-family: $font-bs-default;
}

// revisit
p, .quarto-listing-category, .listing-description {
  font-family: $font-family-projects;
}

legend {
  font-family: $headings-font-family !important;
  color: $gray-700 !important;
}

.font-monospace {
  font-family: $font-family-mono !important;
}

pre, code, kdb, samp {
  font-family: $font-family-mono;
}

.nav-footer-left {
  text-align: left;
}

.nav-footer-right{
  text-align: right;
}

.alert-info, .alert-warning, .alert-primary, .alert-light {
  padding: 1em 1em 1em 2em;
  margin-bottom: 10px;
  border-radius: 1em;
}

// ultrawide layout customization for 2024 potus
.page-layout-custom {
    display: grid;
    gap: 0;
    grid-template-columns:
      [screen-start] 1.5em
      [screen-start-inset] 5fr
      [page-start page-start-inset] 35px
      [body-start-outset] 35px
      [body-start] 1.5em
      [body-content-start] calc(1200px - 3em)
      [body-content-end] 1.5em
      // [body-end] 35px
      [body-end-outset] minmax(110px, 180px)
      [page-end-inset] 35px
      [page-end] 5fr
      [screen-end-inset] 1.5em
      [screen-end];
}

.column-body-custom {
  grid-column: 6;
  font-family: $font-family-projects;
  color: $gray-projects;
}

.column-margin-custom {
  grid-column: 8;
  font-family: $font-family-projects;
  font-size: 14px;
  color: $gray-projects;
}
